**/bin
**/.metadata
**/.settings
**/.project
**/.classpath
**/target
**/*.log
**/temp
**/test-output
**/dist
**/.tmp
**/lib/vendors
**/src/main/webapp
.tern-project
src/main/resources/rebel.xml
nb-configuration.xml
customs.json
vim.exe.stackdump
/.idea/
*.iml